name: Upload template files to R2

on:
  push:
    branches: [main]
    paths:
      - "not-equal-me.json"
      - "nearly-equal-joy.json"
  workflow_dispatch:

env:
  TEMPLATE_LIST: not-equal-me.json, nearly-equal-joy.json
  IMAGE_BASE_URL: https://my-ideals-ikonoijoy-prod.chocomonaka.dev/images

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Rclone and jq
        run: |
          sudo apt-get update && sudo apt-get install -y rclone

          mkdir -p ~/.config/rclone
          cat << EOF > ~/.config/rclone/rclone.conf
          [r2]
          type = s3
          provider = Cloudflare
          access_key_id = ${{ secrets.R2_ACCESS_KEY_ID }}
          secret_access_key = ${{ secrets.R2_SECRET_ACCESS_KEY }}
          endpoint = https://${{ secrets.R2_ACCOUNT_ID }}.r2.cloudflarestorage.com
          acl = private
          EOF

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "latest"

      - name: Process and generate templates
        run: |
          set -e
          mkdir -p /tmp/templates

          IFS=', ' read -ra files <<< "$TEMPLATE_LIST"
          for file in "${files[@]}"; do
            [ -z "$file" ] && continue
            
            base_name="$(basename "$file" .json)"
            root_url="$IMAGE_BASE_URL/$base_name"
            out_dir="/tmp/templates"
            
            jq --arg url "$root_url" '.imageBaseUrl.root = $url' "$file" > "$out_dir/$file"
            
            node ./scripts/split-template.js "$out_dir/$file" "$out_dir"
          done

      - name: Upload template files to R2
        run: |
          rclone sync /tmp/templates r2:${{ secrets.R2_BUCKET_NAME }}/templates \
            --include "*.json" \
            --header-upload "Content-Type: application/json; charset=utf-8" \
            --header-upload "Cache-Control: public, max-age=600" \
            --checksum \
            --verbose
